.App {
 /*  text-align: center; */


}

header{
  min-height: 10vh;
}

#fooldal {
margin: 10px;
padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#kerdes{
  background-color: rgb(25, 26, 26);
  color: beige;
  border-radius: 5px;
  border: grey solid;
  padding: 10px;
  margin: 5px;
  
}
.valasz{
  background-color: rgb(233, 225, 225);
  padding: 5px;
  border-radius: 5px;
  border: grey solid;
  margin: 5px;
}


